h1 a {
    color: #FCA005;
    font-family: 'Lobster';
}
.page-header {
    background-color: lightskyblue;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: lightskyblue;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
    color: darkgray;
    float: right;
}
table{
    color: darkslategray;
    margin-left: 20px;
}
tr {
  border: solid;
  border-width: 1px 0;
}
a.top-menu{
    position:absolute;
    bottom:0;
    right:0;


}