{% load staticfiles %}
{% load i18n %}
<html>
    <head>
        <title>Contact Manager</title>
        <link rel="stylesheet" href="{% static 'Css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'Css/bootstrap-theme.min.css' %}">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'Css/contacts.css' %}">
    </head>

    <body>
        <div class="page-header">
            <p><a href="/"><h1 align=center>Contact Manager </h1></a></p>
        </div>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class ="nav navbar-nav navbar-right">
                <li class="">
                    <form method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button style="background-color: " type="submit">{% trans 'Sign Out' %}</button>
</form>
                </li>
            </ul>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>