{% load staticfiles %}
{% load i18n %}
<head>
        <title>Contact Manager</title>
        <link rel="stylesheet" href="{% static 'Css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'Css/bootstrap-theme.min.css' %}">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'Css/contacts.css' %}">

<style>
    body{
        background-color: #d9edf7;
        margin-bottom: 50px;

    }
   nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: -500px;
    margin-top: 30px;
    position: relative;

}
</style>
</head>
<body>

<div class="page-header">
            <p><a href="/"><h1 align=center>Contact Manager </h1></a></p>
        </div>
{% block content %}
    <nav>
    <ul>
    <div id="content-container" class="container p-none">
    <div class="lgn-container col-lg-8">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" style="background-color: #4cae4c" href="#">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
    </div>
    </ul>
    </nav>

{% endblock %}
</body>